#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
  }

#jumbo {
    text-align: center;
}

.jumbotron {
    background-image: url("/images/newspaperpic.jpg");
    height: 500px;
}

h1 {
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 80px;
}

h2 {
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
}